<% include ./include/header.html %>
    <div id="page-wrapper" class="app" style="min-height: 1054px;">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading"> <strong>返利总览</strong>
                    </div>
                    <div class="panel-body">
                        <div class="table_con table-responsive" id="table_1">
                            <table class="table table-bordered table-condensed table-hover" role="grid" aria-describedby="dataTables_info">
                                <thead>
                                    <tr>
                                        <th>预计返利金额 <i style="opacity: 0.8;cursor: pointer" class="fa fa-question-circle-o"></i></th>
                                        <th>预计获利人次 <i style="opacity: 0.8;cursor: pointer" class="fa fa-question-circle-o"></i></th>
                                        <th>已取消返利金额 <i style="opacity: 0.8;cursor: pointer" class="fa fa-question-circle-o"></i></th>
                                        <th>返利到账金额 <i style="opacity: 0.8;cursor: pointer" class="fa fa-question-circle-o"></i></th>
                                        <th>预计返利订单数 <i style="opacity: 0.8;cursor: pointer" class="fa fa-question-circle-o"></i></th>
                                        <th>返利到账订单数 <i style="opacity: 0.8;cursor: pointer" class="fa fa-question-circle-o"></i></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td rowspan="0"> <span> 1,083.34 </span> </td>
                                        <td rowspan="0"> <span> 739 </span> </td>
                                        <td rowspan="0"> <span> 1,175.08 </span> </td>
                                        <td rowspan="0"> <span> 1,365.21 </span> </td>
                                        <td rowspan="0"> <span> 865 </span> </td>
                                        <td rowspan="0"> <span> 1,781 </span> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>
        <router-view></router-view>
    </div>
    </div>
</body>
<script src="/dist/js/vendor.min.js"></script>
<script src="/dist/js/app.min.js"></script>
</html>
    
